/* RESETA O NAVEGADOR *\

* {
   maring: 0;
   padding: 0;
   box-sizing: border-box
}
/* ALETERAR A COR DO FUNDO E A FONTE DAS LETRAS*\
body {
      background-color: bisque;
      
}

.cabecalho {
}
