* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/*  */
body {
background-color: blue;
font-family: sans-serif;
}

.cabecalho {
      background-color: blueviolet;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      ;
}